
<div class="container">
  <div class="row">
    <%= form_tag '/''', :method => 'get', class: 'input-group'  do %>
      <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search for...' %>
      <span class="input-group-btn">
        <%= submit_tag "search", class: "btn btn-default" %>
      </span>
    <% end %>
  </div>
</div>


<div class="container">
  <div class="row">

      <% @result.each do |campaign| %>
        <div class="col-sm-4">
          <div class="card-deck">
            <a href=<%= campaign['web_url'] %>>
              <div class="card">
                <img class="card-img-top" src=<%= campaign["baseball_card_image_url"] %> alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title"><%= campaign["title"] %></h4>
                  <p class="card-text"><%= campaign["tagline"] %></p>
                </div>
              </div>
            </a>
          </div>
        </div>
      <% end %>
  </div>
</div>
